@font-face {
    font-family: impact;
    src: url(../fonts/impact/impact.ttf);
}

*{
    box-sizing: border-box;
}

body{
    margin:0;
}

#main-canvas{
    border: 1px solid black;
}

.gallery-item{
    width: 30%;
}